USE [ShoeStoreDB]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 11/27/2025 00:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenChatLieu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 11/27/2025 00:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenChucVu] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/27/2025 00:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maHoaDon] [nvarchar](50) NOT NULL,
	[ngayTao] [date] NOT NULL,
	[idKhachHang] [int] NOT NULL,
	[maNhanVien] [varchar](20) NOT NULL,
	[phuongThucThanhToan] [nvarchar](50) NOT NULL,
	[tongTien] [money] NULL,
	[tienKhachDua] [money] NULL,
	[tienTraLai] [money] NULL,
	[idGiamGia] [int] NULL,
	[trangThai] [int] NOT NULL,
	[ghiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 11/27/2025 00:44:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idHoaDon] [int] NULL,
	[idSanPham] [int] NULL,
	[soLuong] [int] NULL,
	[donGia] [money] NULL,
	[giamGia] [money] NOT NULL,
	[thanhTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khachhang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoVaTen] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[sDT] [varchar](15) NOT NULL,
	[email] [varchar](100) NULL,
	[soLuong] [int] NULL,
	[tongTien] [money] NULL,
 CONSTRAINT [PK__Khachhan__3213E83F5581F317] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maKM] [nvarchar](50) NOT NULL,
	[tenKM] [nvarchar](100) NOT NULL,
	[phanTramGiam] [int] NOT NULL,
	[ngayBatDau] [date] NOT NULL,
	[ngayKetThuc] [date] NOT NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCo]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenKichCo] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiay]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenMau] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenNCC] [nvarchar](100) NOT NULL,
	[diaChi] [nvarchar](255) NULL,
	[sDT] [varchar](15) NULL,
	[email] [varchar](100) NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maNhanVien] [varchar](20) NOT NULL,
	[matKhau] [varchar](100) NOT NULL,
	[hoVaTen] [nvarchar](100) NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[diaChi] [nvarchar](255) NOT NULL,
	[sDT] [varchar](15) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[idCV] [int] NOT NULL,
	[hinh] [varchar](255) NOT NULL,
	[trangThai] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/27/2025 00:44:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenGiay] [nvarchar](100) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaNhap] [money] NOT NULL,
	[idMau] [int] NOT NULL,
	[size] [int] NOT NULL,
	[idLoaiGiay] [int] NOT NULL,
	[idChatLieu] [int] NOT NULL,
	[hinh] [varchar](255) NOT NULL,
	[donGia] [money] NOT NULL,
	[trangThai] [bit] NOT NULL,
	[moTa] [nvarchar](max) NOT NULL,
	[idNhaCungCap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatLieu] ON 

INSERT [dbo].[ChatLieu] ([id], [tenChatLieu]) VALUES (3, N'Cao su')
INSERT [dbo].[ChatLieu] ([id], [tenChatLieu]) VALUES (1, N'Da thật')
INSERT [dbo].[ChatLieu] ([id], [tenChatLieu]) VALUES (4, N'Da tổng hợp')
SET IDENTITY_INSERT [dbo].[ChatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[ChucVu] ON 

INSERT [dbo].[ChucVu] ([id], [tenChucVu]) VALUES (2, N'Nhân viên')
INSERT [dbo].[ChucVu] ([id], [tenChucVu]) VALUES (1, N'Quản lý')
SET IDENTITY_INSERT [dbo].[ChucVu] OFF
GO
SET IDENTITY_INSERT [dbo].[Khachhang] ON 

INSERT [dbo].[Khachhang] ([id], [hoVaTen], [diaChi], [sDT], [email], [soLuong], [tongTien]) VALUES (6, N'Phạm Minh Đức', N'123 Quận 1, TP.HCM', N'0912345678', N'ducpm@example.com', 0, 0.0000)
INSERT [dbo].[Khachhang] ([id], [hoVaTen], [diaChi], [sDT], [email], [soLuong], [tongTien]) VALUES (13, N'jTextField6', NULL, N'jTextField5', NULL, NULL, NULL)
INSERT [dbo].[Khachhang] ([id], [hoVaTen], [diaChi], [sDT], [email], [soLuong], [tongTien]) VALUES (14, N'okok', NULL, N'0987654321', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Khachhang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([id], [maKM], [tenKM], [phanTramGiam], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (1, N'KM001', N'Giảm 10% giày thể thao', 10, CAST(N'2025-11-01' AS Date), CAST(N'2025-12-31' AS Date), 1)
INSERT [dbo].[KhuyenMai] ([id], [maKM], [tenKM], [phanTramGiam], [ngayBatDau], [ngayKetThuc], [trangThai]) VALUES (2, N'KM002', N'Giảm 20% dịp Tết', 20, CAST(N'2026-01-01' AS Date), CAST(N'2026-02-01' AS Date), 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[KichCo] ON 

INSERT [dbo].[KichCo] ([id], [tenKichCo]) VALUES (1, N'38')
INSERT [dbo].[KichCo] ([id], [tenKichCo]) VALUES (2, N'39')
INSERT [dbo].[KichCo] ([id], [tenKichCo]) VALUES (3, N'40')
SET IDENTITY_INSERT [dbo].[KichCo] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiGiay] ON 

INSERT [dbo].[LoaiGiay] ([id], [tenLoai]) VALUES (4, N'Boots')
INSERT [dbo].[LoaiGiay] ([id], [tenLoai]) VALUES (3, N'Dép')
INSERT [dbo].[LoaiGiay] ([id], [tenLoai]) VALUES (1, N'Thể thao')
SET IDENTITY_INSERT [dbo].[LoaiGiay] OFF
GO
SET IDENTITY_INSERT [dbo].[Mau] ON 

INSERT [dbo].[Mau] ([id], [tenMau]) VALUES (3, N'Đen')
INSERT [dbo].[Mau] ([id], [tenMau]) VALUES (1, N'Đỏ')
INSERT [dbo].[Mau] ([id], [tenMau]) VALUES (6, N'Tím')
SET IDENTITY_INSERT [dbo].[Mau] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([id], [tenNCC], [diaChi], [sDT], [email], [trangThai]) VALUES (1, N'Nhà cung cấp Nike VN', N'123 Đường ABC, TP.HCM', N'0123456789', N'nikevn@example.com', 1)
INSERT [dbo].[NhaCungCap] ([id], [tenNCC], [diaChi], [sDT], [email], [trangThai]) VALUES (2, N'Nhà cung cấp Adidas VN', N'456 Đường XYZ, Hà Nội', N'0987654321', N'adidasvn@example.com', 1)
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([id], [maNhanVien], [matKhau], [hoVaTen], [ngaySinh], [gioiTinh], [diaChi], [sDT], [email], [idCV], [hinh], [trangThai]) VALUES (4, N'hhhhh', N'[C@264ed7b0', N'hhhhhhhh', CAST(N'2026-11-13' AS Date), 1, N'hhhhhhhhh', N'hhhhhhhhhh', N'hhhhhhhhh', 1, N'hinh_nv060.jpg', 1)
INSERT [dbo].[NhanVien] ([id], [maNhanVien], [matKhau], [hoVaTen], [ngaySinh], [gioiTinh], [diaChi], [sDT], [email], [idCV], [hinh], [trangThai]) VALUES (8, N'cucai', N'[C@609cfbb5', N'hhhhhhhh', CAST(N'2026-11-13' AS Date), 1, N'hhhhhhhhh', N'hhhhhhhhhh', N'hhhhhhhhh', 1, N'C:\Users\Administrator\Pictures\Screenshots\9c492c3ca0127b4319ea94183a68681a.png', 1)
INSERT [dbo].[NhanVien] ([id], [maNhanVien], [matKhau], [hoVaTen], [ngaySinh], [gioiTinh], [diaChi], [sDT], [email], [idCV], [hinh], [trangThai]) VALUES (9, N'cc', N'[C@6a36df79', N'hhhhhhhh', CAST(N'2026-11-13' AS Date), 1, N'hhhhhhhhh', N'hhhhhhhhhh', N'hhhhhhhhh', 1, N'C:\Users\Administrator\Pictures\Screenshots\9c492c3ca0127b4319ea94183a68681a.png', 1)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([id], [tenGiay], [soLuong], [giaNhap], [idMau], [size], [idLoaiGiay], [idChatLieu], [hinh], [donGia], [trangThai], [moTa], [idNhaCungCap]) VALUES (1, N'Giày Nike Air Max', 50, 1500000.0000, 1, 1, 1, 1, N'hinh1.jpg', 2000000.0000, 1, N'Giày thể thao thoải mái', 1)
INSERT [dbo].[SanPham] ([id], [tenGiay], [soLuong], [giaNhap], [idMau], [size], [idLoaiGiay], [idChatLieu], [hinh], [donGia], [trangThai], [moTa], [idNhaCungCap]) VALUES (2, N'Giày Nike Running', 30, 1200000.0000, 2, 2, 1, 2, N'hinh2.jpg', 1800000.0000, 1, N'Giày chạy bộ nhẹ', 1)
INSERT [dbo].[SanPham] ([id], [tenGiay], [soLuong], [giaNhap], [idMau], [size], [idLoaiGiay], [idChatLieu], [hinh], [donGia], [trangThai], [moTa], [idNhaCungCap]) VALUES (3, N'Giày Nike Fashion', 40, 1000000.0000, 3, 3, 2, 3, N'hinh3.jpg', 1500000.0000, 1, N'Giày thời trang hàng ngày', 2)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChatLieu__FC13DFDE0363AD3E]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[ChatLieu] ADD UNIQUE NONCLUSTERED 
(
	[tenChatLieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ChucVu__63FD8587F2638BBB]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[ChucVu] ADD UNIQUE NONCLUSTERED 
(
	[tenChucVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HoaDon__026B4D9B5A45C81C]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[HoaDon] ADD UNIQUE NONCLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_sDT]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[Khachhang] ADD  CONSTRAINT [UQ_KhachHang_sDT] UNIQUE NONCLUSTERED 
(
	[sDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__7A3ECFFE08EF7D6F]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[maKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KichCo__8D9AB2299D609399]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[KichCo] ADD UNIQUE NONCLUSTERED 
(
	[tenKichCo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LoaiGiay__CA1FBB5F74588C48]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[LoaiGiay] ADD UNIQUE NONCLUSTERED 
(
	[tenLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Mau__A88AB9EEF304F8F3]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[Mau] ADD UNIQUE NONCLUSTERED 
(
	[tenMau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhaCungC__AFCF872ACDE6EA50]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[NhaCungCap] ADD UNIQUE NONCLUSTERED 
(
	[tenNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__BDDEF20C9FCCF91D]    Script Date: 11/27/2025 00:44:43 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [ngayTao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tongTien]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tienKhachDua]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [tienTraLai]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT ((0)) FOR [giamGia]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((0)) FOR [phanTramGiam]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  DEFAULT ((1)) FOR [trangThai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idGiamGia])
REFERENCES [dbo].[KhuyenMai] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([idKhachHang])
REFERENCES [dbo].[Khachhang] ([id])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([idHoaDon])
REFERENCES [dbo].[HoaDon] ([id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD FOREIGN KEY([idSanPham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([idCV])
REFERENCES [dbo].[ChucVu] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idChatLieu])
REFERENCES [dbo].[ChatLieu] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idLoaiGiay])
REFERENCES [dbo].[LoaiGiay] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idMau])
REFERENCES [dbo].[Mau] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([size])
REFERENCES [dbo].[KichCo] ([id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD CHECK  (([soLuong]>(0)))
GO
